.footer{
    background-color: var(--background-color);
    color: var(--text-color);
    height: calc(20vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}.footer-link{
    color: var(--text-color);
    text-decoration: none;
}.footer-link:hover {
    text-decoration: underline;
}